@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");

body {
  background-image: url("images/JonSnow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  color: #ff5613;
  font-family: "Nova Cut", cursive;
}

.main-div {
  padding-top: 30px;
  display: inline-block;
  border-radius: 150px;
  margin-left: 180px;
}

textarea {
  background: transparent;
  color: transparent;
  margin: 20px auto;
  height: 10vh;
  position: relative;
  width: 50%;
  display: block;
  padding: 1rem;
  font-family: inherit;
  border: 1px solid white;
  color: #ff5613;
  outline: none;
  font-size: 1em;
}

::placeholder {
  color: #ff5613;
}

#btn-translate {
  background-color: #ddd;
  border: none;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  margin: auto 400px;
  transition: 0.3s;
}

#btn-translate:hover {
  background-color: #ff5613;
  color: rgb(245, 245, 245);
}

.output-div {
  background: transparent;
  color: #ff5613;
  border: 1px solid white;
  height: 10vh;
  width: 50%;
  padding: 1rem;
  margin: 30px auto;
}

.para {
  margin: auto 250px;
  padding: 20px 20px 0px;
  font-size: 20px;
  color: #ff5613;
}
